body {
    margin: body-margin;
    font-family: body-font-family;
    -webkit-font-smoothing: $body-webkit-font-smoothing;
    -moz-osx-font-smoothing: $body-moz-osx-font-smoothing;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }